:root{
  --ecru : #E6E6DA;
  --dark: #555;
  --head: 'Alice', serif;
  --sub: 'Crimson Pro', serif;
}

h1,h2,h3,h4,h5,h6{
  font-family: var(--head);
  color: var(--dark);
}
.body {
  width: 62.5%;  /* For use with REMS */
  margin: 0 auto;
}
.app {
  text-align: center;
  font-family: var(--sub);
  color: var(--dark);
}


