:root{
  --ecru : #E6E6DA;
  --dark: #555;
  --head: 'Alice', serif;
  --sub: 'Crimson Pro', serif;
}

h1,h2,h3,h4,h5,h6{
  font-family: var(--head);
  color: var(--dark);
}
.body {
  width: 62.5%;  /* For use with REMS */
  margin: 0 auto;
}
.app {
  text-align: center;
  font-family: var(--sub);
  color: var(--dark);
}
/* NAVIGATION CSS */
.logo{
  height: 8rem;
  width: 8rem;
}
.nav-menu{
  background: var(--ecru);
}
.nav-item{
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem;

  color: var(--dark)
}
.link{
  color: var(--dark);text-decoration: underline overline;
}
.link:hover{
  color:var(--ecru);
  background: var(--dark);
}

/* LANDING PAGE CSS */

.coverPage {
  margin-left: -50%;
  border-radius: 2rem;
  border: .5rem solid var(--ecru);
}

.landWrapper {
  margin-top: 10%;

}

.design {
	position: relative;
	width: 300px;
	height: 300px;
	margin: auto;
  margin-top: 100px;
}

.design > *,
.blend > * {
	position: absolute;
	height: 100%;
	width: 100%;
}

.rotatedBorder {
	border: 15px var(--dark) solid;
	transform: rotate(45deg);
  box-shadow: 0 0 10px var(--dark), inset 0 0 20px var(--dark);
  border-radius: 2rem;
}


.grid {
	display: grid;
	grid: repeat(2, 1fr) / repeat(2, 1fr);
}

[data-white] {
  background-color: white;
}

.blend {
	mix-blend-mode: multiply;
}

.coverPage {
	object-fit: cover;
}

.design > .coverPage {
  box-shadow: 0 0 20px var(--ecru);
}
/*   ABOUT CSS */
.a-page section{
  display: flex;
  justify-content: space-between;
  margin: 1rem auto;
  font-size: 1.75rem;
}
.a-page section div{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  margin: 0 auto;
  font-size: 1.5rem;
}

.a-page section p{
  width: 75%;
  margin: 0 auto;
}



/*  FOOTER CSS */
.c-nav-footer{
  display: flex;
  flex-direction: column;
  margin: 0 auto;

}
.c-btn{
  background: var(--ecru);
  color: var(--dark);
  height: 5rem;
  margin: .5rem;
  vertical-align: middle;
}
.c-btn img{
  height: 3rem;
  display: block;
  margin: 0 auto;
  background: var(--dark);
  color: var(--ecru);
}
.copyright{
  color: var(--ecru);
}
.s-btn{
  background: var(--ecru);
  color: var(--dark);
  margin-top: .5rem;
}

#contact-form{
	display: flex;
	flex-direction: column;
	width: 50%;
	align-items: center;
	margin: 0 auto;
}
/* RESUME CSS */
.resume-img{
  border: 1px solid var(--dark);
  margin: 1rem auto;
  width: 50rem;
}

/* SHOWCASE CSS */
.sc-card{
  font-family: var(--sub);
  background: var(--dark);
  color: var(--ecru);
  margin: 1rem;
  padding-bottom: 1rem;
  border-radius: 2rem;
}
iframe{
  border-radius: .5rem;
  width: 10rem;
  height: 7.5rem;
  margin: 0 auto;
}
.sc-btn{
  width: 10rem;
  margin: 0 auto;
  background: var(--ecru);
  color: var(--dark);
  font-family: var(--head);
  font-size: .75rem;
}

/* Media Queries */


@media only screen and (max-width: 800px){
  .resume-img{
    width: 30rem;
  }
}
@media only screen and (max-width: 550px){
  .nav-bar{
    display: flex;
    flex-direction: column;
    padding-right: 2rem;
  }
  .logo{
    margin-left: 2rem;
  }
  .design{
    width: 10rem;
    height: 10rem;
    margin: 3rem auto;
  }
  .resume-img{
    width: 20rem;
  }
  .a-page section{
    display: block;
  }
  .a-page div:nth-child(2) img{
    display: none;
  }
}

@media only screen and (max-width: 450px){
  .resume-img{
    width: 15rem;
  }
}